@media (max-width: 599px) {

    #Navbar {
        padding: 20px 10px;
    }

    #Navbar  img{
        width: 50%;
    }
    
    #Navbar ul li a:hover {
        color: #f1f1f1;
    }
    
        #Navbar ul {
        position: fixed;
        flex-direction: column;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: rgb(0, 0, 0);
        align-items: start;
        transition: .3s left;
        z-index: 1;
    }

    #Navbar ul.view {
        left: 0;
    }

    #Navbar ul li {
        padding: 20px;
        position: relative;
    }

    .menu {
        display: initial;
        z-index: 2;
    }

    #Navbar ul li ul {
        position: absolute;
        left: 100%;
        background: none;
    }

    #Navbar ul li ul li ul{
        left: 0;
        width: 100%;
    }

    #Hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 20px 10px;
    height: 50vh;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top 80% left 50%;
}


.hero {
    position: relative;
    top: 20%;
    left: 0%;
    width: 100%;
    height: 70vh;
    padding: 5px;
}

    #Hero1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 40px;
        height: 50vh;
        text-align: center;
    }

    #Hero h2 {
        font-size: 2.5rem;
        margin-bottom: 0.1em;
    }

    #Hero1 h2 {
        font-size: 3rem;
        font-weight: 700;
        font-family: 'Poppins';
        margin-bottom: 0.1em;
    }

    #Hero1 p {
        font-size: 1.2rem;
        width: 80%;
        color: #c761a0;
    }
    
    #Hero p {
        width: 100%;
        font-size: 1.3rem;
        margin-bottom: 1em;
    }
    
    #Hero a, #Hero1 a {
        font-size: 20px;
        padding: 10px;
    }
    
    #About {
        padding: 20px 20px;
    }
    
    .about-container {
        flex-direction: column;
    }

    .about-container img {
        width: 100%;
        height: 40vh;
    }
    
    .about {
        width: 100%;
    }

    .about-home {
        flex-direction: column;
    }

    .about_doctor {
        flex-direction: column;
        gap: 1em;
    }

    .about_doctor2 {
        flex-direction: column;
        gap: 1em;
    }

    .img_1 img {
        width: 100%;
        height: 40vh;
    }
    
    .img_2 img {
        width: 100%;
        height: 40vh;
    }

    .oracare-info {
        width: 100%;
        padding: 20px 0;
    }

    .oracare-info p {
        width: 100%;
    }

    .khoarane-info {
        width: 100%;

    }

    .drkhoarane {
        width: 100%;
        padding: 15px;
    }

    .drkhoarane p {
        font-style: italic;
        font-size: 19px;
        color: #d3d3d3;
    }


    .services {
        width: 30%;
        padding: 10px;
    }

    #Customer {
        padding: 20px 20px;
    }

    .customer-container {
        flex-direction: column;
    }
    
    .customer {
        width: 100%;
    }

    #banner {
        height: 120vh;
        width: 100%;
    }

    .FAQ-container {
        flex-flow: column;
    }

    .FAQ-container .Faq {
        width: 100%;
    }

    #Services {
        padding: 20px 20px;
    }
    
    .services {
        width: 100%;
        padding: 20px;
    }


    #Dentist-services {
        padding: 20px 20px;
    }
    
    .dentist-container {
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .root_bridges {
        flex-direction: column;
        justify-content: center;
        gap: 2em;
    }
    
    .root_bridges img {
        background-position: center;
        width: 100%;
        height: 40vh;
        background-size: cover;
    }
    
    .mean img {
        background-position: center;
        width: 100%;
        height: 40vh;
        background-size: cover;
    }
    
    .before img {
        background-position: center;
        width: 100%;
        height: 40vh;
        background-size: cover;
    }
    
    .after img{
        background-position: center;
        width: 100%;
        height: 40vh;
        background-size: cover;
    }
    
    .root h4 {
        font-size: 40px;
        color: #9e3e79;
    }
    
    .root  p {
        font-size: 20px;
        color: #838282;
    }
    
    .bridges h4 {
        font-size: 40px;
        color: #fff;
    }
    
    .bridges p {
        font-size: 20px;
        color: #aaa;
    }
    
    .root {
        border: 2px solid #92548c;
        padding: 10px;
        width: 100%;
    }
    
    .bridges {
        background: #92548c;
        padding: 10px;
        width: 100%;
    }
    
    .root h3  {
        font-size: 27px;
        color:#9e3e79;
    }
    
    .mean-after {
        gap: 2em;
        width: 100%;
    }
    
    .before-after {
        gap: 2em;
    }
    
    .before-after h3 {
        color: #9e3e79;
        font-size: 27px;
    }
    
    .mean-after h3 {
        color: #9e3e79;
        font-size: 27px;
    }

    #Footer {
        padding: 20px 20px;
    }

    #Footer h2 {
        text-align: start;
    }

    .footer  {
        width: 100%;
        height: 45vh;
        padding: 10px;
    }

    
    .container-footer {
        flex-direction: column;
        gap: 0em;
        justify-content: center;
        align-items: start;
        text-align: start;
    }

         /* closed services section */

        #Contact {
            padding: 20px 10px;
        }
    
        #Contact-info {
            padding: 20px 10px;
        }
        
        #Contact h2 {
            text-align: center;
            font-size: 40px;
            text-transform: uppercase;
            margin-bottom: 1em;
        }
        
        .contact-container {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .contact {
            background: #1a1a1a;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
            gap: 1.5em;
        }

        .container-footer {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        #Footer {
            padding: 20px 0px;
            text-align: center;
        }

        #Footer h2 {
            text-align: center;
        }

        .footer  {
            width: 80%;
            padding: 0px;
            margin-bottom: 0em;
        }

        #Footer img {
            width: 90%;
            height: 15vh;
            text-align: start;
            align-items: start;
        }
        
        .footer svg {
            fill: red;
        }

        .footer h5 {
            color: #fff;
            font-size: 30px;
            text-align: center;
            margin-bottom: .5em;
        }
        
        .footer p {
            color: #aaa;
            text-align: center;
            font-size: 20px;
            width: 100%;
        }

        /*.footer  {
            margin-left: 0%;
        }*/
    
        .contact_info {
            width: 100%;
        }
        
        .contact img {
            display: none;
        }
    
        form input, textarea {
            width: 100%;
        }

    footer {
        padding: 20px 0px;
    }

    .backTop{
        left: 85%;
    }


}

@media (min-width: 600px) and (max-width: 768px){

    #Navbar {
        padding: 20px 40px;
    }

    #Navbar  img{
        width: 50%;
    }
    
    #Navbar ul li a:hover {
        color: #f1f1f1;
    }
    
        #Navbar ul {
        position: fixed;
        flex-direction: column;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        background: rgb(0, 0, 0);
        align-items: start;
        transition: .3s left;
        z-index: 1;
    }

    #Navbar ul.view {
        left: 0;
    }

    #Navbar ul li {
        padding: 20px;
        position: relative;
    }

    .menu {
        display: initial;
        z-index: 2;
    }

    #Navbar ul li ul {
        position: absolute;
        left: 100%;
        background: none;
    }

    #Navbar ul li ul li ul{
        left: 0;
        width: 100%;
    }

    #Hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 20px 10px;
    height: 50vh;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top 80% left 50%;
}


.hero {
    position: relative;
    top: 30%;
    left: 0%;
    width: 100%;
    height: 70vh;
    padding: 5px;
}

    #Hero1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 40px;
        height: 50vh;
        text-align: center;
    }

    #Hero h2 {
        font-size: 2.5rem;
        margin-bottom: 0.1em;
    }

    #Hero1 h2 {
        font-size: 3rem;
        font-weight: 700;
        font-family: 'Poppins';
        margin-bottom: 0.1em;
    }

    #Hero1 p {
        font-size: 1.2rem;
        width: 80%;
        color: #c761a0;
    }
    
    #Hero p {
        width: 100%;
        font-size: 1.3rem;
        margin-bottom: 1em;
    }
    
    #Hero a, #Hero1 a {
        font-size: 20px;
        padding: 10px;
    }
    
    #About {
        padding: 20px 20px;
    }
    
    .about-container {
        flex-direction: column;
    }

    .about-container img {
        width: 100%;
        height: 40vh;
    }
    
    .about {
        width: 100%;
    }

    .about-home {
        flex-direction: column;
    }

    .about_doctor {
        flex-direction: column;
        gap: 1em;
    }

    .about_doctor2 {
        flex-direction: column;
        gap: 1em;
    }

    .img_1 img {
        width: 100%;
        height: 40vh;
    }
    
    .img_2 img {
        width: 100%;
        height: 40vh;
    }

    .oracare-info {
        width: 100%;
        padding: 20px 0;
    }

    .oracare-info p {
        width: 100%;
    }

    .khoarane-info {
        width: 100%;

    }

    .drkhoarane {
        width: 100%;
        padding: 15px;
    }

    .drkhoarane p {
        font-style: italic;
        font-size: 19px;
        color: #d3d3d3;
    }


    .services {
        width: 30%;
        padding: 10px;
    }

    #Customer {
        padding: 20px 20px;
    }

    .customer-container {
        flex-direction: column;
    }
    
    .customer {
        width: 100%;
    }

    #banner {
        height: 120vh;
        width: 100%;
    }

    .FAQ-container {
        flex-flow: column;
    }

    .FAQ-container .Faq {
        width: 100%;
    }

    #Services {
        padding: 20px 20px;
    }
    
    .services {
        width: 100%;
        padding: 20px;
    }


    #Dentist-services {
        padding: 20px 20px;
    }
    
    .dentist-container {
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .root_bridges {
        flex-direction: column;
        justify-content: center;
        gap: 2em;
    }
    
    .root_bridges img {
        background-position: center;
        width: 100%;
        height: 40vh;
        background-size: cover;
    }
    
    .mean img {
        background-position: center;
        width: 100%;
        height: 40vh;
        background-size: cover;
    }
    
    .before img {
        background-position: center;
        width: 100%;
        height: 40vh;
        background-size: cover;
    }
    
    .after img{
        background-position: center;
        width: 100%;
        height: 40vh;
        background-size: cover;
    }
    
    .root h4 {
        font-size: 40px;
        color: #9e3e79;
    }
    
    .root  p {
        font-size: 20px;
        color: #838282;
    }
    
    .bridges h4 {
        font-size: 40px;
        color: #fff;
    }
    
    .bridges p {
        font-size: 20px;
        color: #aaa;
    }
    
    .root {
        border: 2px solid #92548c;
        padding: 10px;
        width: 100%;
    }
    
    .bridges {
        background: #92548c;
        padding: 10px;
        width: 100%;
    }
    
    .root h3  {
        font-size: 27px;
        color:#9e3e79;
    }
    
    .mean-after {
        gap: 2em;
        width: 100%;
    }
    
    .before-after {
        gap: 2em;
    }
    
    .before-after h3 {
        color: #9e3e79;
        font-size: 27px;
    }
    
    .mean-after h3 {
        color: #9e3e79;
        font-size: 27px;
    }

    #Footer {
        padding: 20px 20px;
    }

    #Footer h2 {
        text-align: start;
    }

    .footer  {
        width: 100%;
        height: 45vh;
        padding: 10px;
    }

    
    .container-footer {
        display: flex;
        gap: 0em;
        justify-content: center;
        align-items: start;
        text-align: start;
    }

         /* closed services section */

        #Contact {
            padding: 20px 10px;
        }
    
        #Contact-info {
            padding: 20px 20px;
        }
        
        #Contact h2 {
            text-align: start;
            font-size: 40px;
            text-transform: uppercase;
            margin-bottom: 1em;
        }
        
        .contact-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .contact {
            background: #1a1a1a;
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            gap: 1.5em;
        }

        .container-footer {
            display: flex;
            justify-content: center;
        }

        #Footer {
            padding: 20px 20px;
        }

        #Footer h2 {
            text-align: start;
        }

        .footer  {
            width: 100%;
            padding: 10px;
            margin-bottom: 0em;
        }

        #Footer img {
            width: 50%;
            height: 15vh;
            text-align: start;
            align-items: start;
        }
        
        .footer svg {
            fill: red;
        }

        .footer h5 {
            color: #fff;
            font-size: 30px;
            margin-bottom: .5em;
        }
        
        .footer p {
            color: #aaa;
            font-size: 20px;
            width: 100%;
        }

        /*.footer  {
            margin-left: 0%;
        }*/
    
        .contact_info {
            width: 100%;
        }
        
        .contact img {
            display: none;
        }
    
        form input, textarea {
            width: 100%;
        }

    footer {
        padding: 20px 0px;
    }

    .backTop{
        left: 85%;
    }
}

